
.env
ehrenv
ehrvenv/
main/__pycache__/
main/add_family_member/__pycache__/
main/authentication/__pycache__/
main/delete_family_members/__pycache__/
main/doctor_login_register/__pycache__/
main/edit_family_members/__pycache__/
main/get_all_category/__pycache__/
main/get_family_members_details/__pycache__/
main/get_user_details/__pycache__/
main/migrations/__pycache__/
# EHR/settings.py