
{% extends 'main/base.html' %}
{% load static %}
{% block title %} Login{% endblock %}
{% block content %}
<div class="card1">
  <h2 style="color:wheat"> Doctor Login</h2>
  <form id="login-form" method = "post">

    <div style=" display: flex ;flex-direction:row ;gap:2rem">
        <h2 style=" font-size:15px ; color:white">Email</h2>
        <input type="email" id="email" name = "email" class="login_email" placeholder="Enter your email" required >
    </div>
    <div style=" display: flex ;flex-direction:row ;gap:2rem" >
        <h2 style=" font-size:15px; color:white"> Password </h2>

        <input type="password" id="password" name = "password" placeholder="Enter your password" required>
    </div>
    
    <button type="submit" class = "submit">Login</button>
    <div class="link">
      <a href="{% url 'doctor_registration' %}">Dont have an account Register </a>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'main/doctor_login.js' %}"></script>

{% endblock %}
