{% extends "main/base.html" %}
{% load static %}

{% block title %}Doctor Registration{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Doctor Registration</h2>
    <form id="doctor-register-form">
        <div class = "doctor-form">
            <div class="form-row">
                <div class="form-group">
                    <label for="username">Full Name</label>
                    <input type="text" id="username" name="username" placeholder="Dr" required>
                </div>
        
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password" required>
                </div>
        
                <div class="form-group">
                    <label for="phone_number">Phone Number</label>
                    <input type="text" id="phone_number" name="phone_number" placeholder="Enter Phone Number" required>
                </div>
            </div>
            
            <div class = "form-row">
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" id="dob" name="dob" required>
                </div>
        
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender" required>
                        <option value="">Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>
                </div>
            </div>
            
            <div class = "form-row">
                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" name="category" required>
                        <option value="">Select Category</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="degree">Degree</label>
                    <input type="text" id="degree" name="degree" placeholder="Enter Degree" required>
                </div>
            </div>
        
    
            
    
        </div>
        
        <div class="form-link">
            <a href="{% url 'doctor_login' %}">Already have an account? Login instead</a>
        </div>

        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'main/doctor_registration.js' %}"></script>
{% endblock %}
