{% extends "main/base.html" %}
{% load static %}

{% block title %}Title{% endblock title %}
{% block content %}
    <div>

<!-- Sidebar -->
<div class="sidebar">
    <h2>Admin Panel</h2>
    <a href="#">
        <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M3 12h18M3 6h18M3 18h18" />
        </svg>
        Dashboard
    </a>
    <a href={% url "user_details" %}>
        <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
        </svg>
        Users
    </a>
    <a href="#">
        <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M12 2a10 10 0 0 0-7 17.31M12 2a10 10 0 0 1 7 17.31M12 2v20" />
        </svg>
        Doctors
    </a>
    <a href="#">
        <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M3 3h18v18H3zM9 3v18M15 3v18M3 9h18M3 15h18" />
        </svg>
        Orders
    </a>
    <a href="#">
        <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
        </svg>
        Patients
    </a>
    <a class = "add_family_member" href={% url "add_family_member" %}>
        <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
        </svg>
        Add  Member
    </a>
    <a href="#">
        <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4M16 17l5-5-5-5M21 12H9" />
        </svg>
        Logout
    </a>
</div>



    <div class="doctor_details_section">


        <div>
            <h2 class="Available-doctor" 
                Available Doctors 
            </h2>
        </div>
            <div class="search-bar-container">
                <input type="text" id="doctor-search-input" placeholder="Search by Category (e.g. Dermatologist)">
                {% comment %} <button id="doctor-search-btn">Search</button> {% endcomment %}
            </div>

        <div class="grid-views" id="doctor-body">
        <div class='doctor-container'>


        </div>
        </div>

        </div>
    </div>
    {% comment %} end {% endcomment %}
    </div>

    {% comment %}  {% endcomment %}
{% endblock  %}
{% block script %}
<script src="{% static 'main/doctor_details.js' %}"></script>

{% endblock script %}