
{% extends "main/base.html" %}
{% load static %}
{% block  title %}Register {% endblock  %}

{% block content %}

<div class="card1">

    <h2>
        Register
    </h2>
    <form 
    onsubmit="handleRegister(event)"
    method = "post">
    <div  style=" display: flex ;flex-direction:row ;gap:2rem">
        <h2 style=" font-size:15px ; color:black">Username</h2>

        <input type="text"  name = "username" id="username" placeholder="Enter Your name" required>
    </div>
    <div  style=" display: flex ;flex-direction:row ;gap:2rem">
        <h2 style=" font-size:15px ; color:black">Email</h2>

        <input type="email" id="email" name = "email" placeholder="Enter Your email" required style="margin-left:2rem">
    </div>

    <div  style=" display: flex ;flex-direction:row ;gap:2rem">
        <h2 style=" font-size:15px ; color:black">Password</h2>

        <input type="password"  id="password" name ="password" placeholder="Enter Your password" required>
    </div>
    <div style=" display: flex ;flex-direction:row ;gap:2rem">
        <h2 style=" font-size:15px ; color:black">Phone</h2>

        <input type="text" id="phone_number" name ="phone_number" placeholder="Enter Your Phone number" required style="margin-left:1.5rem">
    </div>

    <div class='half' style="margin-left:6rem">
        <input type="date" id="dob" required>
        <select  id="gender" name ="gender" required>

        <option value="">Select Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>

        </select>
    </div>
        <div class="link" style="margin-top:0.5rem">
            <a href="{% url "login" %}">Already have account ?Login Instead</a>

    </div>

    <button type="submit">REgister</button>
    </form>

</div>
{% endblock  %}
{% block script %}
  <script
  src="{% static 'main/register.js' %}"
  ></script>
{% endblock %}